.Nav {
  position: fixed;
  top: calc(var(--spacing-unit)/2);
  left: calc(var(--spacing-unit)/2);
  z-index: 30;
  background-color: transparent;
  pointer-events: none;
  transform: skew(0deg) translateX(0px) translateZ(0px);
  opacity: 1;
}
.Nav.NavOpen {
  pointer-events: auto;
}

.NavWrapper {
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(46 48 75 / 15%);
  display: flex;
  flex-direction: column;
  max-width: calc(100vw - var(--spacing-unit));
  max-height: calc(var(--vh, 1vh)*100 - var(--spacing-unit));
  padding: 0;
  margin: 0;
  opacity: 0;
  background-color: hsla(0, 0%, 100%, 0);
  transition: opacity .25s cubic-bezier(.4, 0, .2, 1);

  opacity: 1;
  clip-path: circle(calc(var(--button-size)/2) at calc(var(--button-size)/2 + var(--spacing-unit)/2*1) calc(var(--button-size)/2 + var(--spacing-unit)/2*1));
  transition: background-color .25s cubic-bezier(.4,0,.2,1) .5s,clip-path .5s cubic-bezier(.4,0,.2,1),-webkit-clip-path .5s cubic-bezier(.4,0,.2,1);
}
.Nav.NavOpen .NavWrapper {
  clip-path: circle(100% at center);
  opacity: 1;
  background-color: var(--color-white);
  transition-delay: 0s;
}

.NavWrapper > div {
  padding: calc(var(--spacing-unit)/2);
  pointer-events: auto;
}

.MenuTrigger {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  user-select: none;
  background-color: transparent;
}

.MenuTrigger span {
  width: var(--button-size);
  height: var(--button-size);
  padding: var(--button-padding);
  border-radius: 50%;
  transition: background-color .25s cubic-bezier(.4, 0, .2, 1);
  background-color: var(--color-red);
  border: 0;
  cursor: pointer;
}

.MenuTrigger svg {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  color: var(--color-theme);
  transition: opacity .5s cubic-bezier(.4, 0, .2, 1);
}

.Menu {
  flex: 1;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  color: var(--color-black);
}

.MenuInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: calc(var(--spacing-unit)/2) calc(var(--spacing-unit)/2) var(--spacing-unit);
}

.MenuList {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  opacity: 0;
  transform: translate3d(0, 5px, 0);
  transition: opacity .25s cubic-bezier(.4, 0, .2, 1),
  transform .25s cubic-bezier(.4, 0, .2, 1);
}
.Nav.NavOpen .MenuList {
  opacity: 1;
  transform: translateZ(0);
  transition-delay: .25s;
}

.MenuListItem {
  width: 100%;
  margin-bottom: 32px;
  cursor: pointer;
}
.MenuListItem:last-child {
  margin-bottom: 0;
}
